	
	
	
	body {
	background-color:#eee;
padding-top: 50px;
	}

.header{
	height: 50px;
	background-color: #09C;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 9999;
  left: 0px;
  top: 0px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;	
}
.logo{
	color: #FFFFFF;
	line-height: 50px;
	margin-left: 30px;
	font-size: 20px;
}



.main{
	margin: 0 auto;
	width: 75%;
	min-height: 900px;
	
}









.btn_begin{
	background-color: #00CC00;
	color: #fff;
	font-family: "微软雅黑";
	font-size: 16px;
	padding: 8px 20px;
	position: relative;
	top: 60px;
	margin-left: 50%;
	-webkit-border-radius: 6px;
	
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.footer {
	width: 100%;
	height: 150px;
	background-color: #292929;
}
.foot{
padding-top: 20px;	
}
.foot p{
padding-top: 8px;
	color: #ffffff;
}
